<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/styles.css">
		<style>
		html, body{
			background-image: url("../assets/bg-2-full.jpg");
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		form.inline {
			display: inline;
		}
		</style>
		<title>
			Deduplication
		</title>
		<link rel="shortcut icon" href="../assets/dupe.ico"/>
	</head>
	<body>
		<div class="top">
		<br><br><br><br><br><br><br>
		<img align="left" width=20% height=20% src="../assets/iitm.jpg">
		<img align="right" width=20% height=20% src="../assets/cfi.jpg">
		<h1>Deduplication<span>Eliminate Redundancy</span></h1>
		<h2>Created by Aravind Shankar, G.Kavitha, Kaushik<br> Computer Vision Group IITM</h2>
		</div>
		<div class="bottom">
		<h1> Choose any 2 images </h1>
		<img class ="left" src="../images/db1.jpg" width=24.5% height=40%>
		<form class="inline" action="/" method="post"><input type="submit" value="Compare"/></form>
		<img class="right" src="../images/q1.jpg"width=24.5% height=40%>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
		<img class="left" src="../images/db2.jpg"width=24.5% height=40%>
		<form class="inline" action="/" method="post"><input type="submit" value="Compare"/></form>
		<img class ="right" src="../images/q2.jpg"width=24.5% height=40%>	
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br><br><br><br><br><br><br>
		<img class="left" src="../images/db3.jpg"width=24.5% height=40%>	
		<form class="inline" action="/" method="post"><input type="submit" value="Compare"/></form>
		<img class="right" src="../images/q3.jpg"width=24.5% height=40%>
		</div>
	</body>
</html>
